<mat-card class="base-card">
  <mat-card-title>書籍登録</mat-card-title>
  <form class="book-form">
    <mat-form-field class="book-detail">
      <mat-label>書籍名</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="book-detail">
      <mat-label>あらすじ</mat-label>
      <textarea matInput placeholder="あらすじ..."></textarea>
    </mat-form-field>
  </form>
  <mat-form-field class="evaluation">
    <mat-label type="number">評価点</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-card-actions align="end">
    <button mat-flat-button color="primary">追加</button>
  </mat-card-actions>
</mat-card>
<app-card [bookShow]="bookList"></app-card>
