<mat-card class="test">
  <mat-card-title>書籍登録</mat-card-title>
  <form class="book-form">
    <mat-form-field class="book-detail">
      <mat-label>書籍名</mat-label>
      <input matInput value="">
    </mat-form-field>

    <mat-form-field class="book-detail">
      <mat-label>あらすじ</mat-label>
      <textarea matInput placeholder="あらすじ..."></textarea>
    </mat-form-field>
  </form>
  <mat-form-field class="evaluation">
    <mat-label>評価点</mat-label>
    <input matInput value="">
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary">追加</button>
  </div>
</mat-card>
<mat-card class="test">
  <mat-card-title>テスト本</mat-card-title>
  <p>テスト</p>
  <div>
    <button mat-flat-button color="warn">削除</button>
  </div>
</mat-card>
<mat-card class="test">
  <mat-card-title>テスト２本</mat-card-title>
  <p>テスト2</p>
  <div>
    <button mat-flat-button color="warn">削除</button>
  </div>
</mat-card>

<app-card [bookShow]="bookList"></app-card>
