.test {
  margin: 30px 30px;
  padding: 20px 20px;
}

.book-detail {
  max-width: 1000px;
  width: 100%;
}

.evaluation {
  min-width: 75px;
  max-width: 425px;
  width: 100%;
}

div {
  text-align: right;
}

button {
  width: 60px;
}

h2, p {
  padding-left: 20px;
  margin: 20px 20px;
}
